body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.doctype {
  margin-top: 0px;
}

nav {
  border-bottom: 1px solid rgb(170, 170, 170);
  min-height: 4%;
  padding-bottom: 0.5%;
  position: relative;
  margin: 0 auto;
}

nav ul{
  justify-items: center;
  text-align: center;
  align-items: center;
  list-style: none;
  display: flex;
  padding-bottom: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  justify-content: space-between;
}

nav li{
  color: rgb(114, 114, 114);
  font-size: 18px;
  font-weight: lighter;
  display: inline;
  padding-right: 8px;
}

nav li:hover{
  border-bottom: 3px solid rgb(4, 155, 224);
  transition-timing-function: ease-in;
  cursor: pointer;
}

.main-logo {
  width: 100%;
  max-width: 70px;
  min-width: 30px;
  height: auto;
}

nav li.li-no-hover:hover {
  border-bottom: none;
  transition-timing-function: none;
}


header {
  width: 100%;
  min-width: 200px;
  height: 20%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.main-img {
  width: 100%;
  min-width: 200px;
  height: auto;
  max-height: 300px;
}

@media only screen and (max-width: 5000px) {
  header {
    height: 100%;
  }  
}

@media only screen and (max-width: 1500px) {
  header {
    height: 90%;
  }  
}

@media only screen and (max-width: 1199px) {
  header {
    height: 100%;
  }  
}

@media only screen and (max-width: 991px) {
  header {
    height: 80%;
  }  
}

@media only screen and (max-width: 5000px) {
    header {
      height: 20%;
  }
}

.fa-globe:before {
  text-align: center;
  align-content: center;
  font-size: 30px;
  color: rgb(49, 184, 218);
  vertical-align:middle;
}

.fa, .fas {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  margin-top: auto;
  vertical-align:middle;
}

.box-icon{
  margin-top: 18px;
  margin-bottom: 10px;
  padding-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
  width: 50px;
  align-content: center;
  text-align: center;
  justify-content: center;
  display:inline-block;
  vertical-align:middle;
}

.event-info-icon {
  text-align: left;
  float: left;
}

@media (min-width: 1200px) {
  .col-lg-1 {
    width: 8.33333333%;
    margin-top: 1%;
  }  
}

.title-next-event {
  margin-left: 18px;
  vertical-align:middle;
}
.header-links {
  display: flex;
  list-style: none;
  margin-left: 18px;
  padding-left: 0px;
  justify-content: space-between;
  margin-right: 18px;
  vertical-align:middle;
  margin-top: 10px;
}

.header-links li{
  justify-content: left;
  align-content: left;
  display: inline contents;
  padding-top: 4%;
  word-wrap: break-word;
}

div .container{
  min-width: 200px;
}

.grid-container-event-type {
  display: flex;
  width: auto;
  min-width: 200px;
  height: auto;
  min-height: 80px;  
  max-height: 18%;
  background-color: rgb(243, 243, 243);
  /* justify-content: space-between; */
  padding:15px;
  border-radius: 3px;
  margin-top: 2%;
  list-style: none;
}

.events-header-title {
  color: rgb(65, 64, 64);
  font-size: 35px;
  font-weight: 500;
  justify-content: left;
  text-align: left;
  margin-right: 15px;
}

.btn-event-type {
  width: auto; 
  min-width: 70px;
  min-height: 40px;
  background-color: rgb(224, 224, 224);
  color: rgb(65, 64, 64);
  font-size: 16px;
  border-radius: 5px;
  border:1px solid rgb(224, 224, 224);
  cursor: pointer;
  justify-content: right;
  text-align: center;
  margin-top:5px;
}
/* 
@media (max-width: 1260px) {
  .btn-event-type {
   margin-right: 75px;
  }  
} */

.dropdown {
  position: relative;
  display: block;
  float: left;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: auto;
  max-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .btn-event-type {
  border: 1px solid rgb(223, 221, 221) ; 
  background-color: rgb(223, 221, 221);
  color: rgb(31, 30, 30);
}

/* EVENTS CARDS */

.h2, h2 {
  font-size: 30px;
  margin-left: 15px;
}

.grid-item {
  margin-top: 5%;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: auto;
  min-width: 200px;
}

.card-img {
  width: 100%;
  height: auto;
}

.btn-see-app {
  margin-top: 0px;
  padding-top: 0px;
  width: auto;
  height: auto;
  border: 1px solid rgb(4, 155, 224) ;
  border-radius: 5px; 
  color: rgb(5, 155, 224);
  text-align: center;
  font-size: auto; 
  font-weight: bold;  
  align-content: center;
}

.btn-see-app:hover{
  cursor: pointer;
  transition-timing-function: ease-in-out;
  border: 1.5px solid rgb(4, 155, 224) ;
}

.btn-see-more {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 4%;
  margin-left: 50%;
  font-size: 15px; 
  font-weight: bold; 
  text-align: center;
  align-content: center;
  color: rgb(116, 115, 115);
  background-color: rgb(216, 214, 214);
  border-radius: 25px; 
  border: 1px solid rgb(216, 214, 214) ; 
}

.btn-see-more:hover{
  cursor: pointer;
  border: 1px solid rgb(223, 221, 221) ; 
  background-color: rgb(223, 221, 221);
  color: rgb(31, 30, 30);
}

.fa-camera:before {
  font-size: 18px;
  color: rgb(87, 86, 86);
  text-align-last: auto;
}

.fa-camera:before:hover {
  color:  rgb(4, 155, 224);
}

.modal-title {
  align-content: left;
  align-items: left;
  text-align: left;
  padding-top: 0%;
  margin-top: 1%;
  margin-bottom: 3%;
  color: rgba(0, 0, 0, 0.87);
}
.modal-table{
  align-content: left;
  text-align: left;
  justify-content: space-around;
  margin-top: 0%;
  margin-left: 0%;
  padding-left: 0%;
  padding-top: 0%;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.modal-table td {
  line-height: 35px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.87);
  text-align: left;
}

.modal-table .table-info {
  font-size: 16px;
}

#modal-container.revealing .modal-background .modal {
   padding: 16px 24px;
   width: 100vw;
   max-width: 912px;
   height: auto;
   max-height: 300px;
}


.btn-modal-div {
  position: right;
  text-align: right;
  justify-content: space-around;
  align-items: right;
  margin-right: 0px;
  padding-right: 0px;
  width: 100%;
  height: 50px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: 3%;
}

.btn-modal {
  color: rgb(12, 12, 12);
  text-align: center;
  font-size: 14px; 
  font-weight: 700;  
  align-content: center;
  background-color: white;
  border: none;
}

button.close {
  float: right;
  font-size: 14px;
  font-weight: 700;  
  line-height: 1;
  margin-left: 1%;
  align-content: center;
  padding-right: 20px;
  margin-left: 10px;
  margin-top: 4.8px;
}

.close {
  float: right;
  font-size: 15px;
  font-weight: 700;
  color: #000;
  text-shadow: 0 1px 0 #fff;
}

a:-webkit-any-link {
  color: rgb(5, 155, 224);
  cursor: pointer;
  text-decoration: none;
}

a:-webkit-any-link:hover {
  color: rgb(5, 155, 224);
  cursor: pointer;
  text-decoration: none;
}

.btn-modal:hover {
  cursor: pointer;
  border: 2px solid rgb(223, 221, 221) ; 
  border-radius: 5px;
  background-color: rgb(223, 221, 221);
  color: rgb(31, 30, 30);
}



/* ---------- MODAL ---------- */

* {
  box-sizing: border-box;
}
html, body {
  min-height: 100%;
  height: 100%;
  background-size: cover;
  background-position: top center;
  font-family: helvetica neue, helvetica, arial, sans-serif;
  font-weight: 200;
}
html.modal-active, body.modal-active {
  overflow: hidden;
}
#modal-container {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 1;
}

#modal-container.revealing {
  transform: scale(1);
}
#modal-container.revealing .modal-background {
  background: rgba(0, 0, 0, .0);
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.revealing .modal-background .modal {
  opacity: 0;
  animation: scaleUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.revealing + .content {
  animation: scaleBack 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.revealing.out {
  animation: quickScaleDown 0s 0.5s linear forwards;
}
#modal-container.revealing.out .modal-background {
  animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.revealing.out .modal-background .modal {
  animation: scaleDown 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.revealing.out + .content {
  animation: scaleForward 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container .modal-background {
  display: table-cell;
  background: rgba(0, 0, 0, .8);
  text-align: center;
  vertical-align: middle;
}

#modal-container .modal-background .modal {
  background: white;
  padding: 50px;
  display: inline-block;
  border-radius: 3px;
  font-weight: 300;
  position: relative;
}

#modal-container .modal-background .modal h2 {
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 15px;
}

#modal-container .modal-background .modal p {
  font-size: 18px;
  line-height: 22px;
}

#modal-container .modal-background .modal .modal-svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 3px;
}

#modal-container .modal-background .modal .modal-svg rect {
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 778;
  stroke-dashoffset: 778;
}

.content {
  background: white;
  position: right;
  z-index: 0;
}

.content h1 {
  padding: 75px 0 30px 0;
  text-align: center;
  font-size: 30px;
  line-height: 5px;
}

.content .buttons .button {
  max-width: auto;
  padding: 0;
  text-align: center;
  cursor: pointer;
  margin-top: 0px;
  padding-top: auto;
  width: auto;
  height: auto;
  border: 1px solid rgb(4, 155, 224) ;
  border-radius: 5px; 
  color: rgb(5, 155, 224);
  font-size-adjust: inherit;
  font-weight: bold;  
  padding: 2%;
}

.content-next-event .buttons .button {
  max-width: auto;
  padding: 0;
  text-align: center;
  cursor: pointer;
  margin-top: 18px;
  padding-top: auto;
  width: auto;
  height: auto;
  border: 1px solid rgb(4, 155, 224) ;
  border-radius: 5px; 
  color: rgb(5, 155, 224);
  font-size-adjust: inherit;
  font-weight: bold;  
  padding: 2%;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 10px;
  vertical-align:middle;
}


.content .buttons .button:hover {
  cursor: pointer;
  transition-timing-function: ease-in-out;
  border: 1.5px solid rgb(4, 155, 224) ;
}

.button{ 
  align-content: center;
  align-items: center;
  text-align: center;
} 

.style{
  font-weight: 430;
  color: rgb(102, 101, 101);
}


@keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, .0);
  }
  100% {
    background: rgba(0, 0, 0, .7);
  }
}
@keyframes fadeOut {
  0% {
    background: rgba(0, 0, 0, .7);
  }
  100% {
    background: rgba(0, 0, 0, .0);
  }
} 
@keyframes scaleUp {
  0% {
    transform: scale(0.8) translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
}
@keyframes scaleDown {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
  100% {
    transform: scale(0.8) translateY(1000px);
    opacity: 0;
  }
}
@keyframes scaleBack {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.85);
  }
}
@keyframes scaleForward {
  0% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes quickScaleDown {
  0% {
    transform: scale(1);
  }
  99.9% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}


.footer {
  height: 5%;
}